
$background_red: #E9E0B7;
$background_uno: #d22727;
$background_dos: #f7f7f7;
$color_text_titulo: #fff;
$color_text_laboratoria: #a4eb0e;
$color_text_p: #8c26d7;

$padding: 6%;
$padding_footer: 2%;
$width_desktop: 100%;


$backColor_foot_nav: #2F1F1F;
$backColor_readMore: #D9BF82;
$backColor_Card: #E9E0B7;
$h1_color: #DA6B40;
$backColor_welcome: #F4F4F4;
$backColor_2columns: #4A3A3A;
$color_2columns:#FADDA5;
$carrousel: #BFBFBF;
$white: #ffffff;
$black: #000;
$right: right;
$center: center;
$left: left;
$fontsizeP: 0.9em;
$margin_img_right: 0% 0% 5% 5%;
$margin_img_left: 0% 5% 5% 0%;
$section_padd_predet: 5% 9% 5%;
$border_social: #DE8662;
